In [13]:
import pandas as pd

In [14]:

file_path = '../data/Cleaned_Life_Expectancy_Data.csv'

In [15]:
# Load the dataset
data = pd.read_csv(file_path)
data.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,9.5

In [18]:
data = data.dropna(subset=["Life expectancy "])

In [19]:
# Grouping by country and calculating the average life expectancy
average_life_expectancy = data.groupby('Country')['Life expectancy '].mean()

In [21]:
average_life_expectancy.head()

Country
Afghanistan    58.193750
Albania        75.156250
Algeria        74.209091
Angola         50.675000
Argentina      75.238462
Name: Life expectancy , dtype: float64

In [22]:
# Sorting the data for better visualization
average_life_expectancy = average_life_expectancy.sort_values(ascending=False)

In [23]:
average_life_expectancy.head()

Country
Ireland    83.440000
Canada     82.233333
France     82.206667
Italy      82.153333
Spain      82.020000
Name: Life expectancy , dtype: float64

In [24]:
#Save this to a new CSV file
average_life_expectancy.to_csv('../data/average_life_expectancy_per_country.csv')