In [1]:
import pandas as pd

In [2]:
# Read the dataset
file_path = '../data/Cleaned_Life_Expectancy_Data.csv'  # Replace with your dataset path
data = pd.read_csv(file_path)

In [3]:
# Selecting relevant columns
selected_data = data[['Country', 'Year', 'Life expectancy ', 'Alcohol']]

In [4]:
# Grouping by Country and calculating the mean for Life expectancy and Alcohol
grouped_data = selected_data.groupby('Country').mean()

In [6]:
grouped_data.head()

       Country    Year  Life expectancy    Alcohol
0  Afghanistan  2007.5         58.193750  0.014375
1      Albania  2007.5         75.156250  4.848750
2      Algeria  2009.0         74.209091  0.447273
3       Angola  2010.5         50.675000  7.620000
4    Argentina  2008.0         75.238462  8.004615

In [5]:
# Resetting index to make 'Country' a column again
grouped_data.reset_index(inplace=True)

In [7]:
grouped_data.head()

       Country    Year  Life expectancy    Alcohol
0  Afghanistan  2007.5         58.193750  0.014375
1      Albania  2007.5         75.156250  4.848750
2      Algeria  2009.0         74.209091  0.447273
3       Angola  2010.5         50.675000  7.620000
4    Argentina  2008.0         75.238462  8.004615

In [12]:
# Setting a threshold for life expectancy
life_expectancy_threshold = 60

In [13]:
# Filtering countries with life expectancy below the threshold
poor_countries = grouped_data[grouped_data['Life expectancy '] < life_expectancy_threshold]

In [14]:
# Displaying the filtered list of poor countries
poor_countries.head()

         Country    Year  Life expectancy    Alcohol
0    Afghanistan  2007.5         58.193750  0.014375
3         Angola  2010.5         50.675000  7.620000
13         Benin  2008.0         57.707692  0.951538
16      Botswana  2007.0         55.406667  4.670000
19  Burkina Faso  2010.0         57.233333  4.091111

In [ ]:
#Save this to a new CSV file
poor_countries.to_csv('../data/life_expectancy_per_Alcohol.csv', index=False)